body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 12px;
    width: 100%;
}


.headline {
    width: 150px;
    background: burlywood;
    border-radius: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    text-align: center;
    font-size: larger;
    aspect-ratio: 1;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}